* {
	box-sizing: border-box;
}

body {
	background-repeat:no-repeat;
	background-size:100%;
	margin: 0;
	font-family:"Open Sans", serif;
	font-size: 30px;
}

#myVideo {
	position: fixed;
	right: 0;
	top: -25px;
	min-width: 100%; 
	min-height: 100%;
}

.content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	text-align: right;
	text-align: top;
}

#myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
}

#myBtn:hover {
	background: #ddd;
	color: black;
}
h1 {
  color: #FFF;
  font-family: monospace, sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin: 10px;
}
html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: auto;
}

/* Navbar Menu CSS */
.nav_top{
	background: url(../../images/navbar_bg.png) no-repeat 50% -13px;
    border: none;
    height: 70px;
    z-index: 99;
}
.nav_top a{
	color: #200030;
	font-size: 23px;
}
.nav_top ul{
    margin-top: 8px;
}
.nav_top ul li a, .nav_top ul li a:after{
	transition: all .2s;
}
.nav_top ul li a{
	position: relative;
	z-index: 1;
}
.nav_top ul li a:focus, .nav_top ul li a:hover{
	background: transparent;
}
.nav_top ul li a:after{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: '.';
	color: transparent;
	background: rgb(247,247,247); /* Old browsers */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(177,101,188,1) 46%, rgba(177,101,188,1) 55%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(177,101,188,1) 46%,rgba(177,101,188,1) 55%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(177,101,188,1) 46%,rgba(177,101,188,1) 55%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	opacity: 0;
	z-index: -1;
    border-radius: 5px;
}
.nav_top ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.navbar-header button{
	background-color: #7d7a7ae0;
    border: 1px solid #f1f1f1;
}
.navbar-header button span{
	background-color: #f1f1f1;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(177,101,188,1) 46%, rgba(177,101,188,1) 55%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(177,101,188,1) 46%,rgba(177,101,188,1) 55%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(177,101,188,1) 46%,rgba(177,101,188,1) 55%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 5px;
}
/* Dropdown large inside main navbar */
/* ======== effect dropdown menu ========= */
.dropdown .dropdown-menu{
	display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -12px;
}
/* ======================================= */
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/* BG HOME CSS */
.bg_img{
    background-image: url("../../images/anhthaythe.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
	z-index:0;
}
